name: Dart CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image:  dart:stable

    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: dart pub get
      - name: Format
        run: dart format --output none --set-exit-if-changed example lib test
      - name: Analyzer
        run: dart analyze --fatal-infos --fatal-warnings
      - name: Tests
        run: dart test --coverage=.coverage -j1
      - name: Coverage
        run: dart run coverage:format_coverage -l -c -i .coverage --report-on=lib | dart run check_coverage:check_coverage
